:root {
  /* commons */
  --white-color: 255, 255, 255;
  --color-available-arrow: 95, 91 98;
}

[data-theme='dark'] {
  --blog-nav: 48, 41, 51;
  --blog-header: 53, 45, 55;
}

[data-theme='light'] {
  --blog-nav: 204, 202, 219;
  --blog-header: 255, 255, 255;
}